body{
    margin: 0;
    padding: 0;
}
.headline{
    font-family: sans-serif;
    font-size: 25px;
  
    border-left: 3px solid;
    border-color: orange;
    margin-top: 5%;
}
.headline-color{
    color: tomato;
}

    
.flexible-container{
    display: flex;
    
}
.half-width{
    width: 50%;
    margin: 5%;
    font-size: 18px;
   
   text-align: justify;
}

.half-width img{
    width: 85%;
    margin: 5%;
}
.click-button{
    padding: 15px;
    background-color: peru;
    color: white;
    border-radius: 7px;
    font-weight: 800;
}
.center{ 
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mission{
    width: 250px;
    text-align: justify;
    margin-left: 10px;
    margin-bottom: 5%;
}
.mission h2{
    text-align: center;
}
.mission img{
    width: 250px;
}
.mission-box{
    background-color: thistle;
    width: 300px;
    margin: 5%;
    border-radius: 20px;
}
.vission-box{
   background-color: powderblue;
    width: 300px;
    margin: 5%;
    border-radius: 20px;
    

}
.vission-box img{
    width: 250px;
}
.vission-box h2{
    text-align: center;
}
.vission{
    text-align: justify;
    margin: 5%;
}
.goal{
    text-align: justify;
    margin: 5%;

}
.goal-box{
    text-align: justify;
    margin: 5%;
   background-color: wheat;
   width: 300px;
    border-radius: 20px;

}
.goal-box h2{

    text-align: center;
}
.goal-box img{
    width: 250px;
}
.all-box{
    display: flex;
    justify-content: space-around;
}
.comumunity-contain{
    display: flex;
}


.half-widthcommunity{

    width: 50%;
    margin: 7%;
   font-size: 18px;
   text-align: justify;
}
.img-widthcommunity{
    width: 75%;
    margin-left: 5%;
    margin-top: 5%;
}
.half-widthcommunity img{
    width: 80%;
}
.new-head{
    font-size: 25px;
}
.gp-color{
    color: rgb(67, 157, 192);
}
.grameenphone h1{
    text-align: center;
    font-size: 35px;
 font-family: 'Karla', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;;
}
.new-clr{
    color: orange;
    font-weight: 900px;
    font-size: 50px;
}
.mint-clr{
    color: tomato;
}
.sal-color{
    color: rgb(211, 42, 42);
}
.last-color{
    color: skyblue;
}
.title{
    text-align: center;
    background-color: black;
    color: white;
    padding: 25px;
}
.title h1{
    font-size: 30px;
    font-weight: 700px;
}
.foter-title h1{
    font-size: 40px;
    font-family: serif;
    font-weight: 800;
  font-style: oblique;
}